<div class="right_title">
  <%= t('rubrics.rubrics_list') %> :
</div>

<% @rubrics.each do |id, title| %>
    <div class="rubric_cont">
      <%= link_to title + (params[:rubric_id].to_i == id ? "  [#{t('rubrics.rubrics_select')}]" : ''),
                  articles_path({:rubric_id => id}), :class => 'rubric_a' %>
    </div>
<% end %>