<% content_for :left_part do %>
    <h2>First Article</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum aliquam mattis. Quisque quis varius
      sapien, at rutrum libero. Nunc bibendum tristique libero nec pulvinar. Curabitur ut arcu a mauris commodo mattis.
      Integer fringilla justo eget neque adipiscing, vitae interdum sem pretium. Suspendisse ut lacus vulputate,
      interdum magna vitae, iaculis orci. Donec sed neque id nunc laoreet vestibulum sed et purus. Morbi ultricies nisi
      sit amet lacinia varius. </p>
    <p>Nam ut nulla quis odio tincidunt tincidunt non quis lorem. Mauris mattis diam sit amet elit rutrum, eu posuere
      quam viverra. Phasellus a tellus pretium risus viverra adipiscing. Fusce ornare vulputate velit et pretium. Sed
      placerat ullamcorper sapien vel fermentum. Maecenas at elit libero. Cras laoreet vel mauris quis posuere. </p>
    <p>Vivamus eget feugiat leo. Nulla congue lacus vel nibh laoreet, eget condimentum diam fringilla. Nulla risus dui,
      lacinia eu venenatis sed, rhoncus sit amet sapien. Donec in porttitor massa, sit amet blandit ante. Proin ut nisi
      bibendum, tempor mauris non, auctor arcu. Nam ac condimentum enim, ut sollicitudin libero. Suspendisse id elit
      vitae lacus suscipit consectetur a non arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia Curae; Quisque sed blandit sem. </p>
    <p>Morbi molestie dapibus metus ut interdum. Sed vitae dictum tortor, pellentesque iaculis arcu. In hac habitasse
      platea dictumst. Sed aliquam ullamcorper tempor. Pellentesque placerat nisi tortor, non congue sapien porttitor
      sed. Morbi viverra mi sem, nec congue mi laoreet eu. Sed mi leo, suscipit vitae luctus pulvinar, cursus non nunc.
      Ut urna ipsum, dignissim sed mi eget, fermentum egestas massa. Phasellus quis lacinia risus. Curabitur ut ante
      nisl. Nulla porta ut mi eget luctus. Vestibulum fringilla suscipit massa, eu molestie enim aliquam id. Integer vel
      libero ut metus elementum placerat. Duis a mauris ultricies, volutpat justo non, blandit urna. Donec ac mauris
      sem. Sed ultricies lectus magna, a consequat mauris iaculis quis. </p>
    <p>Cras non risus quis odio volutpat sagittis non nec sem. Nullam vitae elementum ligula. Aliquam vel est sed turpis
      porttitor gravida sit amet eget velit. Suspendisse in interdum dolor. Integer placerat purus velit, eget interdum
      urna porta sed. Suspendisse pulvinar, felis ut fringilla faucibus, lorem tortor scelerisque ipsum, et hendrerit
      nibh felis ut diam. Duis a justo nec nisi bibendum dictum ac sed mi. Fusce aliquet risus vel rhoncus tristique.
      Vestibulum tincidunt nunc enim, eget lacinia odio mollis non. Vestibulum nec erat scelerisque, luctus metus
      bibendum, cursus sapien. Pellentesque pretium condimentum metus, eget vehicula lectus iaculis ac. Etiam tempus
      porttitor dui, a accumsan neque tempor id. </p>
    <p>Donec consequat a turpis at blandit. Quisque vestibulum facilisis lectus non tempus. Curabitur placerat urna
      ante, eu iaculis nulla vulputate porttitor. Sed nec auctor tortor, at venenatis nisi. Proin placerat ante velit.
      Cras mi neque, commodo vitae velit vel, hendrerit sodales ante. Aenean ullamcorper sit amet orci eu auctor. Etiam
      sem purus, pharetra vitae convallis tincidunt, interdum vulputate nisi. Nulla facilisi. Duis dui orci, ornare a
      faucibus ac, ultricies nec risus. Fusce faucibus interdum arcu vel fringilla. </p>
    <p>Nam faucibus, augue eu condimentum viverra, dui nunc condimentum tortor, tincidunt tincidunt augue turpis a
      purus. Mauris et nulla neque. Nunc hendrerit velit nec odio elementum aliquet. Sed id ante pharetra, fringilla
      felis a, eleifend urna. Aliquam erat volutpat. Ut sodales, massa et condimentum convallis, nunc tortor consequat
      nulla, sed aliquet neque nulla id ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque
      tristique nulla arcu, quis posuere felis laoreet vitae. Aenean a mi commodo, pharetra quam in, gravida sem. In
      convallis mi nec risus dignissim, at dapibus nisi imperdiet. Integer imperdiet laoreet diam nec varius. Vestibulum
      vel eros sit amet tellus varius varius vitae non erat. </p>
    <p>Suspendisse viverra odio non hendrerit suscipit. Quisque at metus in ipsum tristique molestie. Integer sodales
      semper quam at ultrices. Praesent luctus arcu sit amet quam blandit vestibulum. Cras gravida turpis sit amet nisi
      ultricies vestibulum. Maecenas tempor pellentesque urna et lobortis. Nulla laoreet libero felis, vitae mattis
      ligula lacinia non. Mauris pretium orci pellentesque risus bibendum aliquam. Quisque hendrerit aliquam urna ac
      tincidunt. Nam tincidunt justo lectus, quis mattis lorem molestie sit amet. Etiam ac tellus vel odio volutpat
      viverra. Mauris placerat dignissim nisi vitae porta. Vivamus convallis risus non rhoncus vulputate. </p>
    <p>Quisque auctor pharetra pretium. Donec non velit malesuada, sollicitudin tellus at, euismod mi. Duis enim nisi,
      iaculis sed diam eget, ornare iaculis nisl. Cras nec quam quis velit semper condimentum. Suspendisse id ornare
      augue. Ut sit amet feugiat purus. Vestibulum lacinia bibendum nisl vitae euismod. Nullam lacinia arcu cursus
      varius suscipit. Morbi id nibh venenatis, auctor nisl ut, posuere sapien. Cras nec pulvinar erat, fermentum
      volutpat lorem. Vivamus venenatis tortor quis nunc dignissim faucibus. </p>
    <p>Donec eu libero a ipsum dictum commodo. Nulla dapibus fermentum arcu vel pulvinar. Ut eu pulvinar mauris.
      Suspendisse lacus eros, sagittis tincidunt tincidunt eleifend, blandit vitae purus. In hac habitasse platea
      dictumst. Nam at posuere eros. Mauris semper dolor mi, ut luctus sem sagittis eu. Duis convallis sem non consequat
      rhoncus. Mauris semper, justo id imperdiet pretium, turpis velit venenatis augue, in accumsan risus metus viverra
      nunc. Vestibulum volutpat tortor nec velit feugiat lobortis. Donec lorem dolor, fringilla eget malesuada a,
      posuere id metus. Etiam sed enim mattis, viverra dui vel, feugiat diam. Nunc commodo nibh nunc, sit amet
      pellentesque augue porta nec. Phasellus lacinia et nisl id venenatis. Fusce non turpis sit amet nisi varius
      venenatis vitae vitae mi. </p>
    <p>Suspendisse sit amet massa quis dolor lacinia tristique. Suspendisse potenti. Phasellus posuere sem turpis, quis
      vehicula libero fermentum id. Etiam fermentum, risus vitae sodales facilisis, magna velit pulvinar lacus, et
      ornare ligula nisi sit amet dolor. Etiam ultrices dui sed odio laoreet, eget euismod sem sollicitudin. Proin diam
      massa, placerat eu arcu at, imperdiet lacinia dolor. Etiam turpis ante, feugiat eget neque ut, ornare accumsan
      enim. Donec semper nunc libero, non viverra nulla adipiscing sed. </p>
    <p>Nullam facilisis sem erat, et aliquet quam volutpat sit amet. In a turpis vel eros rhoncus ornare. Nunc a
      convallis leo. Mauris iaculis sagittis libero vitae rhoncus. Curabitur facilisis augue et ante congue porta.
      Vestibulum egestas, magna in tincidunt auctor, tortor neque molestie lacus, eget varius eros odio eu lorem. Nullam
      in purus a eros ullamcorper semper. Maecenas pretium elit gravida risus volutpat, non imperdiet magna molestie.
      Sed imperdiet porttitor elit, sed dignissim diam tristique et. Sed erat dui, cursus vel mattis vitae, viverra non
      augue. Aliquam tempus in ante sed gravida. Vivamus lacinia sapien a odio tincidunt semper. </p>
    <p>Fusce at volutpat massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Maecenas sagittis, leo tempor laoreet ultrices, est risus ultrices enim, in fermentum purus nunc non
      libero. Proin et pellentesque neque, in pellentesque sem. Suspendisse nibh sapien, pharetra in tempus in, ultrices
      lobortis nunc. Sed luctus lorem risus, ut venenatis est molestie nec. Suspendisse condimentum dignissim
      sollicitudin. Phasellus vestibulum dui sed nisl mollis, a aliquam urna sodales. Sed accumsan varius ligula, ut
      congue elit ultrices non. Nullam volutpat turpis luctus, ullamcorper lectus et, vestibulum lectus. Duis tincidunt
      interdum justo sit amet vestibulum. </p>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam euismod mi quis
      eros pharetra volutpat. In id sapien vitae libero sagittis dignissim. Duis porta ligula eget ante tincidunt, id
      adipiscing nisl semper. Etiam placerat quis leo in eleifend. Vestibulum turpis massa, viverra nec nunc et,
      interdum volutpat mauris. Integer vulputate dapibus neque, non tincidunt odio interdum a. Praesent luctus augue
      sed elit ultricies, vel egestas massa molestie. Nulla placerat velit sit amet consectetur pharetra. Cras eget
      varius velit. Cras malesuada, nibh sed semper facilisis, risus metus adipiscing diam, ornare aliquam neque ligula
      quis odio. Aliquam nisl lorem, elementum et molestie et, pretium vitae enim. </p>
    <p>Nullam tristique quam quis nisi aliquet pretium. Nam nisl eros, venenatis eget turpis in, malesuada semper neque.
      Ut consequat tristique eros sit amet pretium. Donec venenatis nec urna id eleifend. Praesent at tincidunt ipsum.
      Aliquam in arcu lorem. Cras fermentum lobortis tortor, vitae posuere orci. Pellentesque vitae leo turpis. Maecenas
      non tincidunt orci, sed hendrerit purus.
<% end %>