/*Contains styles for article index and show page*/

@import "mixins_and_variables.css.scss";

.article_container{
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  h3{
    margin-bottom: 5px;
  }
  .article_rubric{
    margin-right: 10px;
    background-color: $header_color;
    color: $text_on_header_color;
    float: left;
    padding: 2px 5px;
    font-size: 0.8em;
    margin-bottom: 10px;
  }
}

#search_form_container{
  background-color: #ea6153;
  width: 100%;
  #article_search{
    padding: 30px 0;
    margin-left: 20px;
    input{
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    input[type='text']{
      background: #fff;
      padding: 7px 10px;
      outline: 0;
      font-family: "Open Sans";
      font-size: 13px;
      margin: 0;
      width: 60%;
      max-width: 100%;
      display: block;
      margin-bottom: 20px;
      margin-right: 5px;
      color: #bdc3c7;
      border: 0;
      float: left;
    }
    input[type="text"]:focus{
      -moz-box-shadow: $another_color 0 0 1px 1px inset;
      -webkit-box-shadow: $another_color 0 0 1px 1px inset;
      box-shadow: $another_color 0 0 1px 1px inset;
      color: #2c3e50;
    }
    input[type="submit"]{
      font-size: 110%;
      line-height: 18px;
      padding: 6px 15px;
      font-weight: normal;
      text-shadow: none;
      display: inline-block;
      border: 0;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      -o-border-radius: 1px;
      border-radius: 1px;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      color: $text_in_another_color;
      cursor: pointer;
      background-color: $another_color;
      -webkit-align-items: flex-start;
      text-align: center;
      margin: 0;
    }
  }
}

.rubric_cont{
  margin: 15px;
  background-color: $another_color;
  padding: 5px;
  border: 1px solid $text_in_another_color;
  .rubric_a{
    color: $text_in_another_color !important;
    text-decoration: none;
  }
}

#rubrics_list_title{
  color: $text_on_header_color;
  font-size: 120%;
  font-weight: bold;
  margin: 15px 0 0 15px;
}