/*Contain styles for generals elements such as headers, paragraph etc*/
@import "mixins_and_variables.css.scss";

h2{
  color: $header_color;
  margin-top: 0;
}

p{
  line-height: 1.4em;
  margin-bottom: 1.6em;
  text-align: justify;
}

.clear{
  clear: both;
}
